.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  

  .content {
    width: 100%;
    max-width: 1200px;
    
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .formContainer {
    margin-bottom: 0px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formActions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;

  }
  
  .tableContainer {
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }